{% load static %}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

*,
*:before;
*:after {
 margin: 0;
 padding: 0;
 display: flex;
}
body{
  margin:0;
  overflow: hidden;
  background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/mountainBG2.jpg) center top / cover;
}

html {
  height: 100%;
  width: 100%;
}


#wrapper{
  width: 391px;
  margin: 0px auto;
}

h1 {
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  text-align: center;
  margin: 0px;
  padding: 20px;
  user-select: none;
}

h3 {
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  margin-top: 15px;
  width: 100%;
  padding: 8px 0 8px 0;
  float: left;
}

.module {
  width: 391px;
  margin: 20px 0 20px 0;
  border: 1px solid white;
  border-radius: 40px;
}

 .btcf:after {
   content:"";
   display:table;
   clear:both;
 }

p{
  font-weight: 300;
  text-align: center;
}

.photo-wrap {
  width: 280px;
  height: 360px;
  border: 1px solid white;
  animation: reset 600ms ease-in-out;
  border-radius: 20px;
  margin: 0 0 80px 55px;
  padding: 10px;
}

.right {
  float: right;
}

.photo {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.photo-wrap:hover{
  animation: turn 600ms ease-in-out;
  animation-fill-mode: forwards;
}

.photo:active {
  animation: dislike 600ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes turn {
  0% {transform: rotate(0deg);}
  40% {transform: rotate(9deg);}
  100% {transform: rotate(5deg);}
}

@keyframes reset {
  0% {transform: rotate(5deg);}
  40% {transform: rotate(-3deg);}
  100% {transform: rotate(0deg);}
}

@keyframes dislike {
  0%{transform: scale(1);}
  55%{ transform: scale(0.8) rotate(-4deg);}
  65%{ transform: scale(0.8) rotate(-4deg);}
  100%{transform: scale(0) rotate(-6deg);}
}

.match {
  animation: match 700ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes match {
  from {transform:rotateX(0deg);}
  to {transform:rotateX(180deg);opacity: 0;margin-left: 100%;}
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.button {
  user-select: none;
  transition: all 200ms;
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
  transition: all 200ms;
  /*Line below:  sliding button effect for Yes and No; */
  transform: translateX(50%);
}
.love {
  background: url("https://i.imgur.com/rHHDxoS.png") no-repeat;
  background-position: center;
}

.love:after {
  content: "View Recipe?";
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  top: -210px;
  font-weight: 300;
  font-size: 21px;
  Z-index: -1;
}

/*
Sources:
button effects:
-https://codepen.io/kjbrum/pen/wBBLXx
tinder ui:
-https://codepen.io/anon/pen/awKpwv
bootstrap navigation template:
-http://getbootstrap.com/components/#navbar-component-alignment
js overflow scrolling effect
-https://github.com/peachananr/fancy-scroll
*/
