{% load static %}
*,
*:before;
*:after {
 margin: 0;
 padding: 0;
 display: flex;
}
#id_seach_terms {
   display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  height: 42px;
  cursor: I-beam;
  /*align-content: center;*/
  /*top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius:10px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color:  #000000;
  /*color: rgba(140, 140, 140, 1);*/
  color: #ffffff;
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*color of search box*/
  background: #c6c8cf;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

#id_seach_terms:hover {
  width: 350px;
  opacity: 0.82;
  color: #c6c8cf;
  /*color: rgba(181, 181, 181, 1);*/
  /*background: rgba(0, 0, 0, 0.4);*/
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

#id_seach_terms:focus {
  width: 490px;
  cursor: default;
  opacity: 0.9;
  background: #c6c8cf;

  padding: -13px 20px 0;
  color: #747B82; /*typing color*/
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.form-group label {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 35px "Josefin Slab", Helvetica, sans-serif;
  color: white; /*enter ingredients*/
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: .2em;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;

}

.form-group p {
  display: flex;
  flex-direction: column;
}

input {
   margin: 0 auto;
}

input:focus {
  outline: none;
}

.form-group{
   align-content: center;
}

/*.form-wrapper{
   display: flex;
   margin-top: 0%;
   box-sizing: border-box;
   max-width: 100%;
   align-content: center;
   padding-top: 0px;
}*/

.form {
   align-content: center;
   text-align: center;
   /*display: flex;*/
}

.form-wrapper {
   width: 100%;
   margin: 0 auto;
}
html, body {
    height: 100%;
}

body {
  margin: 0;
  background: #97BFA1;
}
/*--------------------SHEEP----------------*/
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
    width: auto;
}

svg, use {
  display: flex;
  width: 100%;
}