{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>recipe finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
   <div class="hero-image"></div>

   <div class="form-wrapper">
     <form class="form" method="GET" > <!--POST will ask for the form resubmission-->

        {% csrf_token %}
        {{ form }}
        <div class="text">Simple animated search box</div>
        <div class="form-group">
           <input class="button" name="text_input" type="search" placeholder="search" value="{{ current_name }}">
           <input id="myBtn" class="flexsearch--submit" type="submit" value="&#10140;" />
        </div>
     </form>
   </div>

  <!-- <input class="button" placeholder="Search..." /> -->
  <script src='https://use.edgefonts.net/amaranth.js'></script>

</body>
</html>
