{% load static %}

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>RECIPE</title>

  <link rel="icon" href="{% static 'img/icon.ico' %}"/>


  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>


   <body class = "page-wrapper">
      <header>
         <button type="button" onClick="history.go(0)">Home</button>
         <!-- <img class="headimg" src="img/header.png" alt="header img" > -->
         <h1>You Hungry?</h1>
      </header>
      <p>Type what ingredients you have, separated by a space, then get cookin'!</p>



      <!-- SEARCH BAR -->
      <div class="flexsearch">
		   <div class="flexsearch--wrapper">
			   <form class="flexsearch--form" method="GET" > <!--POST will ask for the form resubmission-->
           {% csrf_token %}
           {{ form }}
				   <div class="flexsearch--input-wrapper">
					   <input class="flexsearch--input" name="text_input" type="search" placeholder="search" value="{{ current_name }}">
				   </div>

               <div>
                  <!-- The submit -->
                  <input class="flexsearch--submit" type="submit" value=""/>
                  <!-- The arrow button -->
				      <input id="myBtn" class="flexsearch--submit" type="submit" value="&#10140;" />
                     {% if user_input %}
                     <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                           <button class="close">&times;</button>
                           <p>the recipe will pop up here hopefully</p>
                           <p> Input : {{user_input}}</p>
                           <button id="no" > <img src="{% static 'img/nothanks.png' %}" alt="no img"> </button>
                           <button id="ya" > <img src="{% static 'img/ya.png' %}" alt="ya img"> </button>
                        </div>
                           <script type="text/javascript">
                              var modal = document.getElementById('myModal');
                              modal.style.display = "block";
                           </script>
                           {% endif %}
                     </div>
               </div>
			   </form>
	   	</div>
      </div>
   </body>
</html>
